html, body { 
    height: 100%; 
    margin: 0; 
    background-color: rgb(146, 170, 214); 
  } 
  
  *{
    font-family: 'Handjet', sans-serif;
  
  }
  
  form{ 
    width: 100%; 
    height: 100%; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column; 
  } 
fieldset{
    background-color: rgb(248, 198, 150);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #f1bcbc;
    border-radius: 20px;
    padding: 10px;
    
}

legend{
    background-color: rgb(176, 216, 176);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 5px;
}

input[type="number"],
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botones{
    display: flex;
    flex-direction: row;
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 20px;
    background-color: #646464;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 1rem;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #9b9b9b;
}

p{
    background-color: rgb(176, 216, 176);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}