#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}

body{
    background-color: antiquewhite;

}
div{
    display: inline-block;

}
.divcolores{
    background-color: aliceblue;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}
button{
    margin: 1rem;
    width: 100px;
    height: 100px;
}