#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}

body{
    background-color: antiquewhite;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.divcolores{
    align-items: center;
    justify-content: center;
}
button{
    margin: 1rem;
    width: 100px;
    height: 100px;
}